.card {
  padding: 1.5rem;
  background-color: $white;
  border-radius: $border-radius;
  transition: $transition-theme;
  border: $border-width solid $border-color;
}

body.light {
  & .card {
    background-color: $white;
    border: $border-width solid $border-color;
  }
}

body.dark {
  & .card {
    background-color: darken($dark-bg, 4%);
    border: $border-width solid $border-color;
  }
}