@mixin background($background, $color: $white) {
  color: $color;
  background-color: $background;
}

@mixin backgroundDarken($background, $color: $white) {
  color: $color;
  background: darken($background, 2%);
}

@mixin backgroundLighten($background, $color: $white) {
  color: $color;
  background: lighten($background, 2%);
}

@mixin backgroundThin($background, $color: $white) {
  color: $color;
  background: rgba($background, 0.8);
}

@mixin backgroundThinner($background, $color: $white) {
  color: $color;
  background: rgba($background, 0.5);
}
