@import '../../sass/utils/variables';

.Modal {
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  z-index: 2002;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-items: center;
  transition: $transition-base;
}

.Modal__close {
  z-index: -1;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: rgba($black, 0.2);
}

.ModalWrap {
  min-width: 250px;
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: $border-radius;
  background-color: $white;
  border: $border-width solid $border-color;
  & > button {
    justify-self: flex-end;
  }
}

.ModalWrap__header {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  justify-content: space-between;
  background-color: $gray-200;
  border-bottom: $border-width solid $border-color;
  & p {
    max-width: 230px;
    padding-right: 10px;
  }
  & button {
    padding: 0;
  }
}

.ModalWrap__main {
  gap: 20px;
  padding: 10px 25px;
}